
$palette-a: #d4f1f4;
$palette-b: #68bbe3;
$palette-c: #0e86d4;
$palette-d: #055c9d;
$palette-e: #003060;

$text-palette-a: $palette-e;
$text-palette-b: $palette-e;
$text-palette-c: #fff;
$text-palette-d: #fff;
$text-palette-e: $palette-a;

