
@import "nord";

$colours_light: (
	//nord0: $nord0,   nord1: $nord1,   nord2: $nord2,   nord3: $nord3,
	//nord4: $nord4,   nord5: $nord5,   nord6: $nord6,   nord7: $nord7,
	//nord8: $nord8,   nord9: $nord9,   nord10: $nord10, nord11: $nord11,
	//nord12: $nord12, nord13: $nord13, nord14: $nord14, nord15: $nord15,

	main-text: $nord0,
	main-back: $nord6,
	link-text: $nord9,
	link-text-act: $nord7,

	inactive-text: $nord3,
	inactive-back: $nord4,

	panel-back: $nord6,
	panel-border: $nord2,

	ui-text: $nord0,
	ui-text-act: $nord1,
	ui-back: $nord8,
	ui-back-act: darken($nord8,4.2),
	ui-accent-text: $nord0,
	ui-accent-back: $nord9,
	ui-accent-back-act: darken($nord9,4.2),
	ui-disabled-text: $nord3,
	ui-disabled-back: $nord4,
	ui-disabled-back-act: $nord4,

	navbar: $nord5,
);
$colours_dark: (
	//nord0: $nord0,   nord1: $nord1,   nord2: $nord2,   nord3: $nord3,
	//nord4: $nord4,   nord5: $nord5,   nord6: $nord6,   nord7: $nord7,
	//nord8: $nord8,   nord9: $nord9,   nord10: $nord10, nord11: $nord11,
	//nord12: $nord12, nord13: $nord13, nord14: $nord14, nord15: $nord15,

	main-text: $nord4,
	main-back: $nord0,
	link-text: $nord9,
	link-text-act: $nord7,

	inactive-text: $nord3,
	inactive-back: $nord1,

	panel-back: $nord1,
	panel-border: $nord2,

	ui-text: $nord0,
	ui-text-act: $nord1,
	ui-back: darken($nord8,4.2),
	ui-back-act: $nord8,
	ui-accent-text: $nord0,
	ui-accent-back: darken($nord9,4.2),
	ui-accent-back-act: $nord9,
	ui-disabled-text: $nord0,
	ui-disabled-back: $nord3,
	ui-disabled-back-act: $nord3,

	navbar: $nord1,
);


@mixin col($prop, $name) {
	#{$prop}: var(#{"--"}#{$name}, map-get($colours_light, $name));
}
@mixin tcol($name) {
	@include col(color, $name);
}
@mixin bgcol($name) {
	@include col(background-color, $name);
}
@mixin brdcol($name) {
	@include col(border-color, $name);
}


body {
	@include tcol(main-text);
	@include bgcol(main-back);

	a {
		&, &:visited, &:active {
			@include tcol(link-text);
		}
		&:hover {
			@include tcol(link-text-act);
		}
	}
}

nav.main-nav {
	@include bgcol(navbar);
}






@mixin light-theme() {
	color-scheme: light;
	@each $name, $col in $colours_light {
		#{"--"}#{$name}: $col;
	}
}
@mixin dark-theme() {
	color-scheme: dark;
	@each $name, $col in $colours_dark {
		#{"--"}#{$name}: $col;
	}
}

html.light {
	@include light-theme();
}
html.dark {
	@include dark-theme();
}

@media (#{"not (prefers-color-scheme: dark)"}) {
	html:not(.dark) {
		@include light-theme();
	}
}
@media (prefers-color-scheme: dark) {
	html:not(.light) {
		@include dark-theme();
	}
}

