
$font-family-body: sans-serif;
$font-family-headings: sans-serif;

html {
	font-size: 16px;
	font-family: $font-family-body;

	tab-size: 3;
}

h1 {
	font-family: $font-family-headings;
	font-size: 2.75rem;
	font-weight: bold;
	line-height: 1.5;
	margin: 0 0 1rem 0;
}
h2 {
	font-family: $font-family-headings;
	font-size: 2.5rem;
	font-weight: bold;
	line-height: 1.5;
	margin: 0 0 .75rem 0;
}
h3 {
	font-family: $font-family-headings;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.5;
	margin: 0 0 .75rem 0;
}
h4 {
	font-family: $font-family-headings;
	font-size: 1.25rem;
	font-weight: bold;
	line-height: 1.5;
	margin: 0 0 .75rem 0;
}
h5 {
	font-family: $font-family-headings;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	margin: 0 0 .5rem 0;
}
h6 {
	font-family: $font-family-headings;
	font-size: .875rem;
	font-weight: normal;
	line-height: 1.5;
	margin: 0 0 .5rem 0;
}

