<!DOCTYPE html>
<html lang="nl-NL">
	<head>
		<title>Doc-hoarder</title>

		<base href="{{.AppRoot}}" />

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="UTF-8" />

		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />

		<link rel="stylesheet" href="assets/css/doc-hoarder.css" />
	</head>
	<body>

		<dialog id="profile-menu">
			<ul class="link-panel">
				<li>{{if .User}}{{.User.FullName}}{{else}}Not logged in{{end}}</li>
				{{if .User}}<li><a href="user/profile">View profile</a></li>{{end}}
				{{if .User}}<li><a href="logout">Log out</a></li>{{end}}
			</ul>
		</dialog>
		<nav class="main-nav">
			<section class="-brand"><a href=".">Doc-hoarder</a></section>
			<section id="nav-smoel">{{if .User}}{{.User.GivenName}}{{end}}</section>
		</nav>

{{template `contents` .}}

		<footer class="powered-by">
			<p>Doc-hoarder version {{.AppVersion}}</p>
		</footer>

		<script type="module" src="assets/js/navbar.js"></script>
	</body>
</html>
